.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.list-item {
  width: 300px;
  height: 300px;
  border: 1px solid #3d405b;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  text-decoration: none;
}
