header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100vw;
  background-color: #3d405b;
  color: #81b29a;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  gap: 20px;
}

.navigate,
.navigate:visited {
  color: #81b29a;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.not-active {
  text-decoration: none;
}
